{% if not backend_url is defined %}
upstream {{ instance | mandatory }} {
    server {{ backend | mandatory }}:{{ backend_port | mandatory }};
}
{% endif %}

{% for i in forwards %}
server {
    server_name {{ i.forward.src }};
    return 301 https://{{ i.forward.dest }}$request_uri;
}
{% endfor %}

{% if http_allowed is defined and http_allowed %}
{% for i in forwards %}
server {
    server_name {{ i.forward.src }};
    return 301 http://{{ i.forward.dest }}$request_uri;
}
{% endfor %}
{% endif %}

server {
{% if http_allowed is defined and http_allowed %}
    listen 80;
{% endif %}
    
{% if published is undefined or not published %}
{% if allowed_networks is defined %}
{% for allowed_network in allowed_networks %}
    allow {{ allowed_network }};    
{% endfor %}
    deny all;
{% endif %}
{% endif %}

    server_name {{ frontend | mandatory }}
{%- for alias in aliases %}
        {{ alias }}
{% endfor %}    
        ;
        

    access_log /var/log/nginx/{{ instance | mandatory }}.access.log;
    error_log /var/log/nginx/{{ instance | mandatory }}.error.log;

    # defaults
{% if client_max_body_size is defined %}    
    client_max_body_size {{ client_max_body_size }};
{% endif %}

    # proxy
    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        {% if not backend_url is defined %}
        proxy_pass http://{{ instance | mandatory }};
        {% else %}
        proxy_pass {{ backend_url }};
        {% endif %}

{% if proxy_headers is defined %}
{% for proxy_header in proxy_headers %}
        {{ proxy_header }};
{% endfor %}
{% endif %}
    }
  
    # gzip
    gzip_types text/css text/less text/plain text/xml application/xml application/json application/javascript;
    gzip on;
}